:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;

  /* colors */
  --text-color: #434455;
  --primary-brand-color: #4d5ae5;
  --active-primary-brand-color: #404bbf;
  --bg-color: #fff;
  --dark-color: #2e2f42;
  --light-color: #f4f4fd;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
}

address {
  font-style: normal;
}

img {
  max-width: 100%;
}

.logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.logo-span {
  color: var(--dark-color);
}

.nav {
  font-weight: 500;
  color: var(--dark-color);
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--active-primary-brand-color);
}

.hero-section {
  color: var(--bg-color);
  background-color: var(--dark-color);
}

.hero-slogan {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-btn {
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-primary-brand-color);
}

.features-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark-color);
}

.features-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.features-list-caption {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-team-section {
  background-color: var(--light-color);
}

.our-team-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark-color);
}

.our-team-list-item {
  background-color: var(--bg-color);
}

.our-team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.our-team-list-position {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-portfolio-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark-color);
}

.our-portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.our-portfolio-list-caption {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--dark-color);
}

.footer-logo-span,
.footer-info {
  color: var(--light-color);
}
